.DS_Store
.vscode/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.env

# Frontend
/frontend/node_modules
/frontend/.env.local
/frontend/.env-local
/frontend/out
/frontend/dist
